transition(name='v-modal' appear v-if='modal.placeEdit')
  article#place-edit.p-modal
    .p-modal__overlay.u-mode-bg--overlay(@click.self='closeModal("placeEdit")')
      section.p-modal__inner.u-mode-bg--light.p-card.v-modal-content
        header.p-account
          .p-account__title
            label.p-avatar.p-avatar--rect
              input(type='file' name='' @change='plcAvatar')
              img(:src='plcReg.avatar_image' v-if='plcReg.avatar_image')
              img(src='/__source/_tmp/ava_tmp/at.png' v-else)
              //- img(src='/_assets/img/common/no-image-avatar-place.png' v-else)
            h2.p-username
              input.p-profile__input(type='text' name='' autocomplete='off' placeholder='会場名を入力してください' value='Alone Together 天神大名')
              small.p-username__small
                input.p-profile__input(type='text' name='' autocomplete='off' placeholder='種別・業態を入力してください' value='イタリアンバル')
          label.p-cover
            input(type='file' name='' @change='plcCover')
            img(:src='plcReg.cover_image' v-if='plcReg.cover_image')
            img(src='/__source/_tmp/ava_tmp/at-cover.png' v-else)
        .p-card__body.u-text.p-profile
          .p-profile__situation
            p.p-profile__situation-item
              i About
            textarea.p-profile__situation-item.p-profile__textarea(name='' placeholder='概要を入力してください')
              | 一流イタリアンシェフとのコラボレーションによって実現した「逢える・話せるトークバル」です。今までの「相席」とはひと味違うサービスをお楽しみください。&#13;
              | 天神駅から徒歩7分という好立地にある当店は、福岡の男女の出会いや交流の場としても賑わっています！街コンや恋活イベントも定期的に実施しています♪
          table.p-profile__table
            tbody
              tr
                th エリア
                td
                  label.c-select
                    select.c-select__item
                      option(value='' disabled) エリアを選択して下さい
                      option(value='1' selected) 福岡 大名エリア
                      option(value='2') 福岡 天神エリア
              tr
                th 住所
                td
                  input.p-profile__input(type='text' name='' autocomplete='off' placeholder='住所を入力してください' value='福岡市中央区大名1-14-29 D.SIDE 4F')
              tr
                th 営業時間
                td
                  - let openH, openM, closeH, closeM

                  mixin opentime(day,youbi,close)
                    .c-opentime-field
                      .c-opentime-field__label #{youbi}
                      .c-opentime-field__body
                        .c-opentime-field__select
                          .c-opentime-field__select-group
                            select.c-select-default(name=day+'OpenH')
                              option(value='' disabled) --
                              - for (openH = 0; openH < 18; openH++)
                                - openH = ( '00' + openH ).slice( -2 )
                                option(value=openH) #{openH}
                              option(value='18' selected) 18
                              - for (openH = 19; openH < 24; openH++)
                                - openH = ( '00' + openH ).slice( -2 )
                                option(value=openH) #{openH}
                            select.c-select-default(name=day+'OpenM')
                              option(value='' disabled) --
                              - for (openM = 0; openM < 12; openM++)
                                - let openM_ = openM*5
                                - openM_ = ( '00' + openM_ ).slice( -2 )
                                option(value=openM_) #{openM_}
                          i.glyph.glyph-cart-right
                          .c-opentime-field__select-group
                            select.c-select-default(name=day+'CloseH')
                              option(value='' disabled) --
                              - for (closeH = 12; closeH < 24; closeH++)
                                - closeH = ( '00' + closeH ).slice( -2 )
                                option(value=closeH) #{closeH}
                              option(value='24' selected) 24
                              - for (closeH = 1; closeH < 13; closeH++)
                                - closeH = ( '00' + closeH ).slice( -2 )
                                option(value=closeH) #{closeH}
                            select.c-select-default(name=day+'CloseM')
                              option(value='' disabled) --
                              - for (closeM = 0; closeM < 12; closeM++)
                                - let closeM_ = closeM*5
                                - closeM_ = ( '00' + closeM_ ).slice( -2 )
                                option(value=closeM_) #{closeM_}

                        .c-opentime-field__checkbox
                          if close

                            label.c-checkbox
                              input.c-opentime-close(type='checkbox' name=day+'close' value='1' checked)
                              span.c-checkbox__mirror
                              | 定休日

                          else

                            label.c-checkbox
                              input.c-opentime-close(type='checkbox' name=day+'close' value='1')
                              span.c-checkbox__mirror
                              | 定休日

                  +opentime('sun','日')
                  +opentime('mon','月',true)
                  +opentime('tue','火')
                  +opentime('wed','水')
                  +opentime('thu','木')
                  +opentime('fri','金')
                  +opentime('sat','土')
              tr
                th 電話番号
                td
                  input.p-profile__input(type='tel' name='' autocomplete='off' placeholder='電話番号を入力して下さい' value='092-707-0266')
              tr
                th 公式サイト
                td
                  input.p-profile__input(type='text' name='' autocomplete='off' placeholder='サイトのURLを入力してください' value='https://alone-together.net/')
              tr
                th 備考
                td
                  textarea.p-profile__situation-item.p-profile__textarea(name='remarks' placeholder='備考を入力してください')
                    | 定休日・営業時間は予告なく変更する場合がございます。

        footer.p-card__footer.p-card__footer--fluid
          .u-fluid-button.u-bg--primary
            button.p-modal__close(@click='closeModal("placeEdit")') 閉じる
            button 削除
            button 決定
