//- ========================================
//- include in header
//- ========================================

//- ----------------------------------------
//- basic configuration
//- ----------------------------------------

meta( charset="UTF-8" )
meta( http-equiv="X-UA-Compatible" content="IE=edge" )
meta( name="viewport" content="width=device-width, initial-scale=1.0" )
meta( name="format-detection" content="telephone=no" )
title #{pageTitle} | #{site.name}
meta( name="robots" content="noindex,follow" )
meta( name="mobile-web-app-capable" content="yes")
meta( name="apple-mobile-web-app-capable" content="yes" )
meta( name="apple-mobile-web-app-status-bar-style" content="black" )
meta( name="apple-mobile-web-app-title" content="りあこね" )

//- ----------------------------------------
//- Fall back of lt IE 9
//- ----------------------------------------

//- = "\n"
|
|
.
  <!--[if lt IE 9]>
//- Fall back of html 5
script( src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js" )
//- Fall back of CSS 3
script( src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" )
//- = "\n"
|
|
.
  <![endif]-->

//- ----------------------------------------
//- link
//- ----------------------------------------

block link
  link( rel="stylesheet" href="/_assets/css/theme.css" )

if userType == 'user'

  link( rel="shortcut icon" href="/_assets/img/favicons/user/favicon.ico" )
  link( rel="apple-touch-icon" href="/_assets/img/apple-touch-icon/icon-user.png" )
  //- link(rel="stylesheet" href="//cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css")

if userType == 'admin'

  link( rel="shortcut icon" href="/_assets/img/favicons/admin/favicon.ico" )
  link( rel="apple-touch-icon" href="/_assets/img/apple-touch-icon/icon-admin.png" )

if userType == 'master'

  link( rel="shortcut icon" href="/_assets/img/favicons/master/favicon.ico" )
  link( rel="apple-touch-icon" href="/_assets/img/apple-touch-icon/icon-master.png" )

if userType == ''

  link( rel="shortcut icon" href="/_assets/img/favicons/user/favicon.ico" )
  link( rel="apple-touch-icon" href="/_assets/img/apple-touch-icon/icon-user.png" )

//- link( rel="apple-touch-startup-image" href="images/splash/launch-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)")
//- link( rel="apple-touch-startup-image" href="images/splash/launch-750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)")
//- link( rel="apple-touch-startup-image" href="images/splash/launch-1242x2208.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)")
//- link( rel="apple-touch-startup-image" href="images/splash/launch-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)")
//- link( rel="apple-touch-startup-image" href="images/splash/launch-1536x2048.png" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)")
//- link( rel="apple-touch-startup-image" href="images/splash/launch-1668x2224.png" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)")
//- link( rel="apple-touch-startup-image" href="images/splash/launch-2048x2732.png" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)")

if userType == 'user'
  link(rel="manifest" href="/manifest.json")
if userType == 'admin'
  link(rel="manifest" href="/manifest-admin.json")
if userType == 'master'
  link(rel="manifest" href="/manifest-master.json")





//- ----------------------------------------
//- Google Tag Manager
//- ----------------------------------------

// BEGIN Google Tag Manager
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','!{site.gtm_id}');
// END Google Tag Manager

//- Google Tag Manager (noscript)

mixin gtm-noscript
  // BEGIN Google Tag Manager (noscript)
  noscript.
    <iframe src="https://www.googletagmanager.com/ns.html?id=#{site.gtm_id}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  // END Google Tag Manager (noscript)
